body{
    margin: 0;
}
#navbar img{
    width: 30px;
    margin: 2px;
}
#navbar{
    position: fixed;
    width: 100%;
}
#right{
    text-align:end;    
}
nav {
    background-color: purple;
}

html{
    background-color: white;
}
body p{
    font-size: 200;
}