body{
    margin: 0;
}
#navbar img{
    width: 30px;
    vertical-align: middle;
}
#navbar{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
#right{
    text-align:right;
    display: inline-block;
    height: 100%;
    vertical-align: middle; 

}
nav {
    background-color: rgb(15, 107, 255);
}

html{
    background-color: white;
}
p{
    font-size: 200;
    color: rgb(255, 196, 252);
}